{% extends "bootstrap/base.html" %}

{% block title %}Wikipedia RSS feeds - Page Not Found{% endblock %}

{% block navbar %}
	<style type="text/css">
		h4 {
			color:#3333ff;
		}
		.navbar {
			background-color:#e4e4e4;
		}
		.navbar-brand {
			position: relative;
			top: -10px;
		}
		.navbar-toggle  {
		    height: 50px;
		}
	</style>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ url_for('feeds', _external=True) }}"><strong><h4><img src="{{url_for('static', filename='wmftlabs.png')}}" width="40px" height="40px">&nbsp;&nbsp;Wikipedia RSS feeds for IFTTT</h4></strong></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="{{ url_for('feeds', _external=True) }}"><h4>Home &nbsp;<span class="glyphicon glyphicon-home"></span></h4></a></li>
					<li><a href="#"><h4>About &nbsp;<span class="glyphicon glyphicon-user"></span></h4></a></li>
					<li><a href="#"><h4>Developers &nbsp;<span class="glyphicon glyphicon-blackboard"></span></h4></a></li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="container">
		<br /><br /><br /><br />
		<div class="page-header">
			<h1>404 - Sorry, this page was Not Found</h1>
		</div>
	</div>
{% endblock %}