{% extends "bootstrap/base.html" %}

{% block title %}Wikipedia RSS feeds - Page Not Found{% endblock %}

{% block navbar %}
	<div class="navbar navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ url_for('feeds', _external=True) }}"><strong>Wikipedia RSS feeds for IFTTT</strong></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="{{ url_for('feeds', _external=True) }}"><h4>Home
					<i class="fa fa-home"></i></h4></a></li>
					<li><a href="#"><h4>About</h4></a></li>
					<li><a href="#"><h4>Developers</h4></a></li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="page-header">
			<h1>500 - Sorry, there was an Internal Server Error</h1>
		</div>
	</div>
{% endblock %}